.home-container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home-container>* {
    text-decoration: none;
    margin: 1rem 2rem 1rem 2rem;
    color: #000;
}

@media(max-width:330px) {
    .home-container>* {
        margin: 2rem 0 2rem 0;
    }
}