:root {
    --color-blue: #291AFA;
    --color-white: #fff;
    --color-black: #000;
}


.header {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue);
}

.title-conteiner h1 {
    color: var(--color-white);
}