* {
    box-sizing: border-box;
}


@keyframes card {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: rotateY(0);
    }
}


:root {
    --color-blue: #291AFA;
    --color-white: #fff;
    --color-black: #000;
}

.calculadora-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    height: 20rem;
    border: 0.5rem solid var(--color-blue);
    border-radius: 0.6rem;
    padding: 2rem;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
    animation: card 1.1s;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.calculadora-link:hover {
    transform: scale(1.05, 1.05);
}

.calculadora-link img {
    width: 10rem;
}

.calculadora-link h3 {
    margin-top: 2rem;
}

@media (max-width:325px) {
    .calculadora-link {
        width: 100%;
    }

    .calculadora-link img {
        width: 100%;
        height: 100%;
    }

    .calculadora-link h3 {
        margin-top: 0.3rem;
    }
}