* {
    box-sizing: border-box;
}

:root {
    --color-blue: #291AFA;
    --color-white: #fff;
    --color-black: #000;
}

.footer {
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: var(--color-blue);
}


.footer .descricao {
    width: 80%;
    margin-left: 10rem;
    display: flex;
    justify-content: center;
    color: var(--color-white);
    font-size: 2vh;
}

.logos {
    width: 20%;
    margin-left: auto;
    display: flex;
    justify-content: end;
}

.logos a img {
    max-width: 3rem;
}

@media(max-width:590px) {
    .footer {
        flex-direction: column;

    }

    .footer .descricao {
        margin-left: 0;
        width: 100%;
    }

    .logos {
        width: 100%;
        justify-content: center;
    }
}

@media(max-width:400px) {
    .footer .descricao {
        font-size: 1.4vh;
    }
}